html {
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    letter-spacing: 1px;
    color: black;
    overflow: hidden;
    line-height: 2em;
    background-image: url(https://celes.club/uploads/posts/2022-11/1667335009_17-celes-club-p-fon-dlya-messendzhera-vk-krasivo-17.png);
    background-position: center;
    background-size: cover;
}

#root {
    display: flex;
}
.App {
    margin-top: 15px;
}
.title{
	font-size: 36px;
    display: flex;
    margin-left:auto;
    margin-right: auto;
}

.text{
	font-size: 20px;
    margin-left: 600px;
}
.A{
    color:red;
    text-decoration: none;
    font-size: 20px;
    margin-left: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
A:hover {
    color: lightgrey;
  }
.button{
    display: flex;
    margin-left: 580px;
    font-size: 36px;
}  
.uge{
    margin-left: 610px;
    font-size: 24px;
    margin-top: 15px;
}
.button1{
    display: flex;
    margin-left: 600px;
    font-size: 36px;
}